{% extends 'user/student/student_navbar.html' %}

{% block title %} Update Profile {% endblock %}

{% block body %}
<div class="update-section p-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn brown-bg dark-blue" type="submit" value="Update">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}